/* --- 1. Reseteo Básico y Global --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

:root {
  --black:#000000;
  --white:#ffffff;
  --dark-purple: #3c122c;
  --medium-purple: #762ba3;
  --light-purple: #ae40f0;
  --yellow: #ffc800;
  --pink: #fc5185;
  --light-pink: #ffeffe;
  --green: #00b090;
  --background-gray: #eee;
  --color :#dc3545;
}



body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;

}
header{
  grid-column: 1/ span 3;
  background: var(--pink);
}

main{
  grid-area: 2 / 1 / 4 /4;
  background-color: var(--green);
  text-align: center;
  }

  footer{
    grid-column: 4 / 1 ;
    background-color: var(--yellow);
  }